<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'spotify')}">

<body>
 
    <div class="container">

        <div class="row">
          <div class="col-sm-10 mt-5">
            <div class="form-group row">
              <h1>Spotify</h1>
            </div>
            <p th:text="${me.displayName}" />
            <p th:text="${me.country}" />
            <p th:text="${me.email}" />
            <p th:text="${me.followers.total}" />
          </div>
        </div>
      </div>
    

</body>

</html>